@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,800&display=swap');

root{
    --mainclr:#239f85;
    --secclr:#ff5d22;
}
*{
    margin: 0;
    padding:0;
    outline:none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    margin: 0;
    padding: 0;
    position: relative;
    background:aliceblue;
    position: relative;
    font-size: 62.5%;
    overflow: hidden;
}

.header{
    padding: 1.5rem 7%;
    background-color: #239f85;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;

}
.header #logo{
    width: 50px;
}

.navbar a{
  color:#E0115F;
  font-size: 1rem;
  margin-left: 2rem;
}
.navbar a:after{
    content: '';
    background: #ff5d22;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;

}
.navbar a:after{
    content: '';
    background: #ff5d22;
    width: 0%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition:.3s;
}
.navbar a:hover:after{
    content: '';
    background: rgb(66, 17, 66);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}
.icons div{
  font-size: 2rem;
  margin-right: 2rem;
  color: white;
  display: none;
}
.icons a{
    color: white;
    background:#ff5d22;
    padding:1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
}
.icons a:hover{
     background: transparent;
     border:1px solid rgb(66, 17, 66);
    };

body{
    margin: 0;
    padding: 0;
    position: relative;
    background:aliceblue;
    position: relative;
}
nav{
    width: 100%;
    height: 65px;
    position: relative;
    background-color:#239f85;
    box-shadow: 0px 2px 8px 0px black;
}
.nav-container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    background:#239f85 ;
}

.menu{
    width: 100%;
    height: 65px;
    float: right;
}
.menu>.menu-content{
   width: 200px;
   height: 65px;
   float: right;
   font-family:'Poppins', sans-serif ;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: -0.05em;
   position: relative;
}
.menu>.menu-content{
    width: 200px;
    height: 65px;
    float: right;
    font-family:'Poppins', sans-serif ;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.05em;
    color: aliceblue;
    line-height: 65px;
}
.menu>.menu-content>a{
    color: aliceblue;
    text-decoration: none;
}
.arrow-up{
    width: 0;
    height: 0;
    position: absolute;
    border-left:20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid aliceblue;
    right: 151px;
    top: 50px;
}
.login-form{
    position: absolute;
    width: 300px;
    height:auto;
    background:white;
    right: 58px;
    top: 60px;
    border-radius: 2px;
    border-bottom:5px solid grey;
}
.login-form>form{
    width: 250px;
    margin: 25px auto;
    font-size: 20px;
    font-family:'Poppins', sans-serif  ;
    color:rgb(66, 17, 66);
    letter-spacing: -0.05em;
}
input[type="text"],
input[type="password"]{
    width: 240px;
    height: 30px;
    border: 0px;
    outline: none;
    box-shadow: insert 0 0 10px #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
input[type="submit"]{
    width: 95%;
    height: 35px;
    background-color: #239f85;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #eee;
    outline: none;
    border: 0px;
    border-radius: 3px;
    letter-spacing: -0.05em;
    cursor: pointer;
}
input[type="submit"]:hover{
    background: rgb(66, 17, 66);
}











.footer{
    background-color: #239f85;
    padding:70px 0;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color:#E0115F;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:rgb(15, 15, 57);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: white;
text-decoration: none;
font-weight: 300;
color: rgb(15, 15, 57);;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}
.footer-col .special-links a{
display: inline-block;
height: 40px;
width:40px;
background: transparent;
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color:white;
transition: all;
}
.footer-col .special-links a :hover{
    color:#aac4e2;
    background-color: white;
}
/* responsive */
@media(max-width:767px){
    .footer-col{
        width: 25%;
        padding:50px;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}

