.background{
color:#239f85 ;
}
.box{
    min-width: 300px;
     flex-grow: 1;       

    
}
.cont{

  padding-left: 30px;
    max-width: 150px;
    margin : 0 auto
}
#number{
    border: 5px solid orange;
    margin-right: 30px;
     padding-left: 40px;
     padding-bottom: 20px;
     padding-right: 40px;
     background-color: orange;
}
.cont-1{
    padding-left: 30px;
    max-width: 150px;
    margin: 0 auto;

}
#wrapper{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
    
}


@media screen{
    body{
        flex-direction: row;
    }
}