@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*this is for setting the background*/
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
    }
    /*setting navbar dimensions*/
    nav
    {
        flex: 1;
        text-align: right;
    }
    nav ul
    {
    display: inline-block;
    list-style: none;
    }
    nav ul li
    {
        display: inline-block;
        margin-right: 70px;
    }
    /*styling list elements*/
    nav ul li a
    {
        text-decoration: none;
        font-size: 20px;
        color: white;
        font-family:'Poppins', sans-serif;
    }
    nav ul li button
    {
        font-size: 20px;
        color: white;
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
    }
    nav ul li button:hover
    {
        color: rgb(15, 15, 57);;
    }
    nav ul li a:hover
    {
     color:rgb(15, 15, 57)
    }
    a
    {
     text-decoration: none;
     color: palevioletred;
     font-size: 28px;
    }
    #login-form
    {
        display: none;
    }
    .form-box
    {
        width: 380px;
        height: 480px;
        position: relative;
        margin: 2% auto;
        background:(0,0,0,0,.3);
        padding: 10px;
        overflow: hidden;
    }
    /*creating the form width and ight*/
    .button-box
    {
        width: 220px;
        margin: 35px auto;
        position: relative;
        box-shadow: 0 0 20px 9px #ff61241f;
        border-radius: 30px;
    }
    .toggle-btn
    {
        padding: 10px 30px;
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
    }
    #btn
    {
        top: 0;
        left: 0;
        position: absolute;
        width: 110px;
        height: 100%;
        background: #aac4e2;
        border-radius: 30px;
        transition:.5s;
    }
.input-group-login
{
    top: 150%;
    position: absolute;
    width: 280px;
    transition:.5s;
}
.input-group-register
{
    top: 120px;
    position: absolute;
    width: 280px;
    transition:.5s;
}
.input-field
{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
.submit-btn
{
 width: 80%;
 padding: 10px 30px;
 cursor: pointer;
 display: block;
 margin: auto;
 background: #db591d;
 border: 0;
 outline: none;
 border-radius: 30px;
}
.check-box
{
    margin: 30px 10px 34px 0;
}
    span{
        color: #E0115F;
        font-size: 12px;
        bottom: 68px;
        position: absolute;
    }
    #login
    {
        left: 50px;
    }
    #login input
    {
     color: #aac4e2;
     font-size: 15;
    }
    #register
    {
        left: 450px;
    }
    #register input
    {
        color: white;
        font-size: 15;
    }
body{
    background-color: #239f85;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.card{
    background-color:#aac4e2; 
    padding: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}
.card-title{
    color:#E0115F;
    margin: 0 auto;
   
}
.card-text{
    color:rgb(15, 15, 57);
}
.img-center{
    margin:0 auto;
}
#blood{
    width: 200px;
    height: 200px;
}
#spit{
    width: 200px;
    height: 200px;
    display: flex;
}
#hugs{
    width: 200px;
    height: 200px;
    display: flex;
}
#Touching{
    width: 200px;
    height: 200px;
}
#bedding{
    width:200px;
    height:200px;
}
#faces{
    width: 200px;
    height: 200px;
}
#infected{
    width: 200px;
    height: 200px;
}
#wastes{
    width:200px ;
    height: 2000;
}
#kissing{
    width: 200px;
    height: 200px;
}
body{
    background-color:rgb(15, 15, 57)}.card{
    width:400px;background-color:rgb(80, 79, 78);border:none;border-radius: 12px}label.radio{
    cursor: pointer;width: 100%}label.radio input{
    position: absolute;top: 0;left: 0;visibility: hidden;pointer-events: none}label.radio span{
    padding: 7px 14px;border: 2px solid rgb(252, 145, 5);display: inline-block;color: #e57003;border-radius: 10px;width: 100%;height: 48px;line-height: 27px}label.radio input:checked+span{
    border-color: #db591d;background-color: #faa381;color: #fff;border-radius: 9px;height: 48px;line-height: 27px}.form-control{
    margin-top: 10px;height: 48px;border: 2px solid #eee;border-radius: 10px}.form-control:focus{
    box-shadow: orange;border: 2px solid #e57003}.agree-text{
    font-size: 12px}.terms{
    font-size: 12px;text-decoration: white;color: #fc9208}.confirm-button{
    height: 50px;border-radius: 10px
}
#public form{
    margin: left;
    margin-top: 200;
}
#doctor{
    margin: center;
}
.btn{
    background-color: #db591d;
}
.card {
    background-color: rgb(159, 229, 238);
}
.card-title {
    color: #E0115F;
}
.dropdown-toggle{
    background-color: rgb(15, 15, 57);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;

}
.footer{
    background-color: #aac4e2;
    padding:70px 0;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color:#E0115F;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:rgb(15, 15, 57);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: white;
text-decoration: none;
font-weight: 300;
color: rgb(15, 15, 57);;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}
.footer-col .special-links a{
display: inline-block;
height: 40px;
width:40px;
background: transparent;
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color:white;
transition: all;
}
.footer-col .special-links a :hover{
    color:#aac4e2;
    background-color: white;
}
/* responsive */
@media(max-width:767px){
    .footer-col{
        width: 25%;
        padding:50px;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}
